@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
  --white: white;
  --grey: #e9ecef;
  --darkgrey: #adb5bd;
  --blue: #284b63;
  --green: #3c6e71;
  --ff-heading: 'Kaushan Script', cursive;
  --ff-body: 'Poppins', sans-serif;
  --ff-footer: 'Dancing Script', cursive;
  --ff-header: 'Redressed, cursive;';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  position: relative;
}

body,
header,
h2,
.container,
footer {
  margin: 0;
  padding: 0;
}

body {
  background: var(--grey);
  font-family: var(--ff-body);
  font-weight: 400;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: var(--ff-heading);
  color: var(--white);
  font-weight: 200;
}

header {
  background-color: var(--blue);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.hd-text {
  margin-right: auto;
  padding: 1rem;
}

.home {
  margin-left: auto;
  padding-right: 3rem;
}

.wrapper {
  margin: 2rem;
}

.wrapper-left {
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin: 0 auto;
}

.wrapper-left h3 {
  text-align: center;
  font-family: var(--ff-heading);
  color: #000;
}

.wrapper-left h4 {
  font-family: var(--ff-header);
  text-align: left;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem;
  padding: 1rem;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.group-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 70%;
}

input[type=text],
select {
  padding: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 320px;
  height: 100px;
}

input[type=number],
select {
  padding: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button],
select {
  width: 80px;
  height: 40px;
  padding: 12px;
  margin: 10px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: solid;
  text-align: center;
  color: black;
  font-size: 12px;
  font-family: var(--ff-header);
  background-color: var(--darkgrey);
}

.btn:hover {
  background-color: var(--blue);
  opacity: 1;
  color: white;
  font-family: var(--ff-heading);
}

.btn-group {
  display: flex;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 20px;
  outline: none;
  margin-top: 10px;
  margin-left: 14px;
  width: 80%;
}

input[type="range"] ::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
}

.range {
  width: 60%;
}

.form-group #red {
  background: linear-gradient(90deg, #000, red);
}

.form-group #green {
  background: linear-gradient(90deg, #000, green);
}

.form-group #blue {
  background: linear-gradient(90deg, #000, blue);
}

footer {
  background-color: var(--blue);
  color: white;
  display: flex;
  align-content: center;
  width: 100%;
  flex: 0 0 60px;
  margin-top: auto;
}

.footer-text {
  margin-right: auto;
  padding: 1rem;
}

.footer-icons {
  margin-left: auto;
  padding: 1rem;
}

.footer-text h4 {
  font-family: var(--ff-header);
}

.footer-icons ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.footer-icons ul li {
  list-style: none;
  margin: 0 10px;
}

.box-1 {
  height: auto;
}

.footer-icons ul li .fa {
  color: white;
  font-size: 20px;
  line-height: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.footer-icons ul li .fa:hover {
  color: #fff;
}

.label {
  font-family: var(--ff-heading);
  color: #000;
  font-size: 2rem;
}

.btn-transfer input[type=button],
select {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: solid;
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: var(--ff-header);
  background-color: var(--darkgrey);
}

.btn-transfer .btn:hover {
  background-color: var(--blue);
  opacity: 1;
  color: white;
  font-family: var(--ff-heading);
}

@media screen and (max-width: 900px) {
  .group-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;
  }

  input[type="range"] {
    -webkit-appearance: none;
    height: 20px;
    outline: none;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }

  input[type="range"] ::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type=number],
  select {
    padding: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
  }
}

@media screen and (max-width: 450px) {
  input[type=text],
  select {
    padding: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 200px;
    height: 80px;
  }
}

@media screen and (max-width: 300px) {
  input[type=text],
  select {
    padding: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 150px;
    height: 80px;
  }

  .label {
    font-size: 1rem;
  }

  input[type=number],
  select {
    padding: 0.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
  }

  .btn-group {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input[type=button],
  select {
    width: 50px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: solid;
    text-align: center;
    color: black;
    font-size: 10px;
    font-family: var(--ff-header);
    background-color: var(--darkgrey);
  }
}

@media screen and (min-width: 1000px) {
  input[type=text],
  select {
    padding: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 600px;
    height: 200px;
  }

  input[type=button],
  select {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: solid;
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: var(--ff-header);
    background-color: var(--darkgrey);
  }
}

@media screen and (max-width: 480px) {
  .label {
    font-size: 15px;
  }
}
